<%-include("includes/_header")-%> 
<!--Main Site-->

<main class="main-site">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <a href="/add_user" class="box-shadow add-user-btn">
                <span class="text-gradient">
                    New User<i class="fas fa-user"></i>
                </span>
            </a>
        </div>

        <!--Form-->
        <form action="/" method="POST" class="form">
            <table class="table">
                <thead class = "thead-dark">
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Gender</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                </thead>
                <tbody>
            <%-include("includes/_show")-%> 
        </tbody>
    </table>
        </form>
    </div>
</main>

<!--Main Site-->

<%-include("includes/_footer")-%> 