<%-include("includes/_header")-%>
<!--Main Site-->

<main class="main-site">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"> <i class="fas fa-angle-double-left"></i>All Users</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update Users</h2>
            <span class="text-light">Use the below form to update an account</span>
        </div>

         <!--Form-->
 <form method="POST" id ="update_user" class="form">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" id="" value="" placeholder = "John Doe">
        </div>
        <div class="form-group">
            <label for="email" class="text-light">Email</label>
            <input type="email" name="email" id="" value="" placeholder = "example@me.com">
        </div>
        <div class="form-group">
            <label for="gender" class="text-light">Gender</label>
            <div class="inline">
                <input type="radio" name="gender" value="Male">
                <label for="Male" class="text-light">Male</label>
            </div>
            <div class="inline">
                <input type="radio" name="gender" value="Female">
                <label for="Male" class="text-light">Female</label>
            </div>
        </div>

        <div class="form-group">
            <label for="status" class="text-light">Status</label>
            <div class="inline">
                <input type="radio" name="status" value="Active">
                <label for="Active" class="text-light">Active</label>
            </div>
            <div class="inline">
                <input type="radio" name="gender" value="Inactive">
                <label for="Inactive" class="text-light">Inactive</label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class = "btn text-dark update">Save</button>
        </div>

    </div>
</form>
    
    </div>
</main>

<!--Main Site-->

<%-include("includes/_footer")-%>